In [1]:
import pandas as pd
from pathlib import Path

In [2]:
# Setting paths
root_dir = Path(".").resolve().parent
data_dir = Path(root_dir, "data/benchmark-datasets")

In [3]:
ds_name = "LL0_1547_autouniv_au1_1000"
ds_path = Path(data_dir, ds_name)

In [4]:
left_table = pd.read_csv(Path(ds_path, ds_name + "_dataset", "tables/learningData.csv"))

In [5]:
left_table

,d3mIndex,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V12,V13,V14,V15,V16,V17,V18,V19,V20,Class
0,0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,class2
1,1,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,class1
2,2,0.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,class2
3,3,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,class2
4,4,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,class2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,class1
996,996,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,class1
997,997,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,class2
998,998,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,...,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,class2
999,999,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,class2

In [6]:
right_table_id = "datamart.socrata.data-usaid-gov.m6yn-kw7d"
right_table = pd.read_csv(Path(ds_path, ds_name + "_candidates", right_table_id, "tables/learningData.csv"))
right_table

,pais,idnum,ri,estratopri,upm,guyregion,guymunicipality,cluster,ur,size,...,ocup1,ocup4,ocup1a,ocup1b1,ocup1c,desoc2,mig1,mig2,mig3,ti
0,24,95,4,2401,4204,4,2,4204,1,1,...,9.0,2.0,NaN,NaN,NaN,52.0,3.0,1.0,NaN,36
1,24,148,4,2401,4212,4,2,4212,1,1,...,NaN,2.0,NaN,NaN,NaN,52.0,2.0,1.0,NaN,30
2,24,276,4,2401,4107,4,1,4107,1,1,...,4.0,1.0,2.0,4.0,1.0,NaN,3.0,1.0,NaN,46
3,24,402,4,2402,3801,3,8,3801,2,5,...,9.0,1.0,1.0,1.0,1.0,NaN,1.0,1.0,NaN,80
4,24,421,4,2402,3813,3,8,3813,2,5,...,9.0,1.0,4.0,3.0,2.0,NaN,1.0,1.0,NaN,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1550,24,1513,5,2405,1804,1,8,1804,2,5,...,10.0,1.0,4.0,NaN,2.0,NaN,1.0,1.0,NaN,48
1551,24,1515,5,2405,1804,1,8,1804,2,5,...,NaN,1.0,2.0,3.0,2.0,NaN,1.0,1.0,NaN,44
1552,24,1518,5,2405,1804,1,8,1804,2,5,...,7.0,1.0,4.0,1.0,2.0,NaN,2.0,1.0,NaN,48
1553,24,1519,5,2405,1804,1,8,1804,2,5,...,14.0,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,48
1554,24,1523,4,2405,1803,1,8,1803,2,5,...,9.0,1.0,4.0,1.0,1.0,NaN,1.0,1.0,NaN,35

In [7]:
left_on = ["V10"]
right_on = ["q10"]

In [8]:
%time
merged = left_table[left_on].merge(right_table[right_on], left_on=left_on, right_on=right_on, how="left")

CPU times: user 3 µs, sys: 1 µs, total: 4 µs
Wall time: 7.39 µs

In [9]:
right_table_id = 'datamart.socrata.opendata-utah-gov.p2zw-xeay'
right_table = pd.read_csv(Path(ds_path, ds_name + "_candidates", right_table_id, "tables/learningData.csv"))
right_table

,LEAID,CENSUSID,FIPST,CONUM,CSA,CBSA,NAME,STNAME,STABBR,SCHLEV,...,FL_31F,FL_41F,FL_61V,FL_66V,FL_W01,FL_W31,FL_W61,FL_HR1,FL_HE1,FL_HE2
0,4900005,N,49,49035,482,41620.0,AMERICAN PREPARATORY ACADEMY,Utah,UT,3.0,...,R,R,R,R,R,R,R,R,R,R
1,4900008,N,49,49007,N,39220.0,PINNACLE CANYON ACADEMY,Utah,UT,3.0,...,R,R,R,R,R,R,R,R,R,R
2,4900009,N,49,49035,482,41620.0,CITY ACADEMY,Utah,UT,2.0,...,R,R,R,R,R,R,R,R,R,R
3,4900010,N,49,49035,482,41620.0,SUCCESS SCHOOL,Utah,UT,6.0,...,R,R,R,R,R,R,R,R,R,R
4,4900011,N,49,49051,482,25720.0,SOLDIER HOLLOW CHARTER SCHOOL,Utah,UT,1.0,...,R,R,R,R,R,R,R,R,R,R
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137,4901080,4.55E+13,49,49047,N,46860.0,UINTAH DISTRICT,Utah,UT,3.0,...,R,R,R,R,R,R,R,R,R,R
138,4901110,4.55E+13,49,49051,482,25720.0,WASATCH DISTRICT,Utah,UT,3.0,...,R,R,R,R,R,R,R,R,R,R
139,4901140,4.55E+13,49,49053,N,41100.0,WASHINGTON DISTRICT,Utah,UT,3.0,...,R,R,R,R,R,R,R,R,R,R
140,4901170,4.55E+13,49,49055,N,NaN,WAYNE DISTRICT,Utah,UT,3.0,...,R,R,R,R,R,R,R,R,R,R
141,4901200,4.55E+13,49,49057,482,36260.0,WEBER DISTRICT,Utah,UT,3.0,...,R,R,R,R,R,R,R,R,R,R

In [10]:
left_on = ["V10"]
right_on = ["V60"]

In [11]:
%time
merged = left_table[left_on].merge(right_table[right_on], left_on=left_on, right_on=right_on, how="left")

CPU times: user 3 µs, sys: 1 µs, total: 4 µs
Wall time: 7.39 µs

In [12]:
merged.shape

(50894, 2)

In [13]:
%time
merged_again = merged[left_on].merge(right_table[right_on], left_on=left_on, right_on=right_on, how="left")

CPU times: user 18 µs, sys: 4 µs, total: 22 µs
Wall time: 26.9 µs

In [14]:
merged_again["V10"].sum()

506.0

In [15]:
merged_again.shape

(5140082, 2)

In [16]:
cross = left_table[left_on].merge(right_table[right_on], how="cross")

In [17]:
cross.shape

(142000, 2)